<!DOCTYPE html>
<html>

<head>
    <title>User List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2 class="mb-4">User List</h2>

        <ul class="list-group mb-4">
            {% for user in users %}
            <li class="list-group-item">
                {{ user.name }} - {{ user.email }} - {{ user.age }}
                <a href="{% url 'user_edit' user.id %}" class="btn btn-info btn-sm ml-2">Edit</a>
                <a href="{% url 'user_delete' user.id %}" class="btn btn-danger btn-sm ml-2">Delete</a>
            </li>
            {% endfor %}
        </ul>
        <div class="d-flex align-items-center mb-3">
            <a href="{% url 'user_add' %}" class="btn btn-primary mr-2">Add New User</a>
            <a href="{% url 'export_users_csv' %}" class="btn btn-success mr-2"> Export CSV</a>
            <a href="{% url 'home' %}" class="btn btn-secondary"> Back to Home</a>
        </div>
    </div>
</body>

</html>